@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
html{
  background: #f3f3f3;
}

*{
  font-family: 'Open Sans Condensed', sans-serif;
}
div.scrollmenu {
   background-color: lightgray;
   overflow: auto;
   white-space: nowrap;
}

div.scrollmenu a {
   display: inline-block;
   color: black;
   text-align: center;
   padding: 14px;
   text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: grey;
  color: black;
}
/* sidenav menu css */
.nav-side-menu {
   overflow: auto;
   font-size: 12px;
   font-weight: bold;
   position: fixed;
   width: 225px;
   height: 100%;
   color: black;
   text-align: center;
 }
 .nav-side-menu{
   background-color: lightgrey;
 }
 .nav-side-menu .brand {
   background-color: rgb(169, 165, 165);
   line-height: 50px;
   display: block;
   text-align: center;
   font-size: 14px;
 }
 .nav-side-menu .toggle-btn {
   display: none;
 }
 
 .nav-side-menu ul,
 .nav-side-menu li {
   list-style: none;
   padding: 0px;
   margin: 0px;
   line-height: 35px;
   cursor: auto;
  
 }
 .nav-side-menu ul :not(collapsed) .arrow:before,
 .nav-side-menu li :not(collapsed) .arrow:before {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
   float: right;
 }
 .nav-side-menu ul .active,
 .nav-side-menu li .active {
  background-color: rgb(169, 165, 165);
 }
 
 
 .nav-side-menu ul .sub-menu li,
 .nav-side-menu li .sub-menu li {
   background-color: #f3f3f3;
   border: none;
   line-height: 28px;
   border-bottom: 1px solid #333;
   margin-left: 0px;
 }
 .nav-side-menu ul .sub-menu li:hover,
 .nav-side-menu li .sub-menu li:hover {
   background-color: #a8a8ba;
 }
 .nav-side-menu ul .sub-menu li:before,
 .nav-side-menu li .sub-menu li:before {
   
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
 }
 .nav-side-menu li a {
   text-decoration: none;
   color: black;
 }
 .nav-side-menu li a i {
   padding-left: 10px;
   width: 20px;
   padding-right: 20px;
 }

 .nav-side-menu li:hover {
   background-color: red;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
 }
 @media (max-width: 767px) {
   .nav-side-menu {
     position: relative;
     width: 100%;
     margin-bottom: 10px;
   }
   .nav-side-menu .toggle-btn {
     display: block;
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 10px;
     z-index: 10 !important;
     padding: 3px;
     background-color: rgb(169, 165, 165);
     color: #333;
     width: 40px;
     text-align: center;
   }
   footer{
     color: #000;
     text-align: center;
     
   }
   .brand {
     text-align: left !important;
     font-size: 22px;
     padding-left: 20px;
     line-height: 50px !important;
   }
 }
 @media (min-width: 767px) {
   .nav-side-menu .menu-list .menu-content {
     display: block;
   }
   #main {
      width:calc(100% - 300px);
      float: right;
   }
 }
 
 